<div class="search">
  <div class="cui__input giant">
    <label class="cui__input__label">
    </label>
    <input class="cui__input__input" id="search_people_input" placeholder="Type your search query"/>
  </div>

  <div class="results" id="people_list">
    <br>
    Start your search now :) you can search by phone, name or age
  </div>
</div>
